@font-face {
font-family:OleoScript;
src:url(../fonts/OleoScriptSwashCaps-Regular.otf), url(../fonts/OleoScriptSwashCaps-Regular.ttf), url(../fonts/OleoScriptSwashCaps-Regular.eot), url(../fonts/OleoScriptSwashCaps-Regular.woff), url(../fonts/OleoScriptSwashCaps-Regular.svg);
}

body {
background-color:#333;
font-family:arial;
}

header.page-header {
border-bottom:solid 1px rgb(203,203,255);
margin-bottom:10px;
padding-bottom:10px;
margin-top:0;
}

header nav {
}

header nav ul {
list-style-type:none;
float:right;
}

header nav ul li {
display:inline;
float:left;
margin:10px;
}

header nav ul li a {
display:block;
}

header #logo img {
width:15%;
float:left;
}

header h1,header h1 a {
display:block;
float:left;
font-family:OleoScript;
font-weight:normal;
font-size:50px;
}

.holder {
margin-left:auto;
margin-right:auto;
color:#dedede;
background:#fff;
padding:10px 40px;
margin-top:20px;
}

#container {
background:#333;
position:fixed;
height:100%;
width:100%;
z-index:-1;
top:0;
}

h1,h1 a {
color:#00798F;
font-size:xx-large;
}

h2,h2 a {
color:#333;
font-size:x-large;
}

h3,h3 a {
color:#333;
font-size:large;
line-height:30px;
}

h4 {
color:#333;
font-weight:200;
font-size:medium;
font-family:Arial;
}

p {
color:#222;
font-size:small;
}

a {
color:#00798F;
}

a:hover {
color:#444;
text-decoration:none;
}

blockquote {
color:#00798F;
background:#dedede;
}

.post img {
margin:20px 0;
}

article {
margin-bottom:30px;
}

article ul.tags {
list-style-type:none;
margin:0;
}

article ul.tags li {
display:block;
float:left;
margin-right:10px;
background:#999;
padding:3px;
font-size:12px;
border-radius:3px;
}

article .meta {
font-size:12px;
color:#999;
}

article span {
font-size:12px;
}

.post {
float:left;
width:70%;
}

aside {
float:right;
width:25%;
}

aside section {
margin:15px 0;
clear:both;
}

aside .tags {
}

aside ul {
list-style-type:none;
margin:0 0 10px;
font-size:12px;
}

aside ul li {
margin-bottom:5px;
}

aside .tags ul li {
display:inline;
}

aside .tags ul li a {
}

aside .recent {
}

aside .recent ul li {
}

aside .recent ul li a {
display:block;
}

aside p {
color:#444;
font-size:12px;
}

footer {
border-top:solid 1px rgb(203,203,255);
padding-top:10px;
}

footer nav {
}

footer nav ul {
list-style-type:none;
float:right;
}

footer nav ul li {
display:inline;
float:left;
margin-left:10px;
margin-right:10px;
}

footer nav ul li a {
display:block;
font-size:12px;
}

footer .version {
float:left;
font-size:12px;
color:#999;
}

/** QUERIES **/
@media (max-width: 480px) {
aside {
float:left;
width:100%;
}

.post {
float:left;
width:100%;
}

header h1,header h1 a {
font-size:35px;
}
}