<!DOCTYPE HTML>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body>
	<div id="container"></div>
	<div class="holder">
        <header class="clearfix page-header">
            <h1><a href="outrunthewolf.com"></a></h1>
        </header>
		<div class="clearfix"></div>
		
		{{ content }}

		<footer class="clearfix">
			<p class="version">version: {{ app.config.general.version }}</p>
			<nav>
				<ul>
				</ul>
			</nav>
		</footer>
	</div>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ app.config.general.analytics }}']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

</body>
</html>


